<%- include('../partials/header.ejs')%>
        <main>
            <h1>Connection Detail</h1>
            <h2 class="eventsheader"><%= connections.name%></h2>
            
           <!-- <form>  
            <button class="eventsbuttons" type="submit" formmethod="GET" formaction="/connections/<%= connections.id%>/edit">Update</button>
            <button class="eventsbuttons" type="submit" formmethod="POST" formaction="/connections/<%= connections.id%>?_method=DELETE">Delete</button>
            </form>-->
           
            <br>
            <div class="container">
                <form>  
                    <button class="eventsbuttons" type="submit" formmethod="GET" formaction="/connections/<%= connections.id%>/edit">Update</button>
                    <button class="eventsbuttons" type="submit" formmethod="POST" formaction="/connections/<%= connections.id%>?_method=DELETE">Delete</button>
                    </form>
                <div class="imageContainer">
            <img class="eventImage" alt="eventImage" src="<%= connections.eventImage%>">
        </div>
            <p>Hosted by: <%= connections.host.firstName%></p>
            <p>Topic Type: <%= connections.topic%></p>
            <p>Date: <%= connections.date%></p>
            <p>Start time: <%= connections.startTime%></p>
            <p>End time: <%= connections.endTime%></p>
            <p>Where: <%= connections.where%></p>
            </div>
            
            
            <br><br>
            <h2 class="details">Details</h2>
            <p><%= connections.details%></p>
        </main>
    </div>
    
        <%- include('../partials/footer.ejs')%>