<%- include('../partials/header.ejs') %>
<main>
    <h1> Profile Page</h1>
       <p>Name: <%= user.firstName%> <%=user.lastName%></p>
    <% if (topics.length) { %>
        <h2>Created Connections:</h2>
        <% topics.forEach(topic => { %>
            <h2><%= topic %></h2>
            <ul>
                <% connections.forEach(connection => { %>
                    <% if (connection.topic === topic) { %>
                        <li>
                            <a href="/connections/connection/<%= connection._id %>">
                                <%= connection.name %>
                            </a>
                        </li>
                    <% } %>
                <% }); %>
            </ul>
        <% }); %>
    <% } else { %>
        <p>No connections to display.</p>
    <% } %>
</main>
<%- include('../partials/footer.ejs') %>